# Основные зависимости
fastapi==0.68.1  # Стабильная версия с широкой поддержкой
uvicorn==0.15.3
python-multipart==0.0.5
python-socketio==4.6.1
python-dotenv==0.19.0

# AI/ML (CPU версии)
torch==1.12.1+cpu
torchaudio==0.12.1+cpu
--index-url https://download.pytorch.org/whl/cpu
transformers==4.26.1
sentence-transformers==2.2.2
TTS==0.11.1
numpy==1.21.6
phonemizer==3.0
librosa==0.9.2

# Обработка медиа
soundfile==0.10.3
scipy==1.7.3